
.cat_img{
    height:100%;
    width:100%;
    background-color: rgb(254, 200, 238)
}

.pildid ul {
    margin:0;
}

.pildid li {
    display:inline-block;
    border-bottom:  30px solid rgb(255, 231, 248)
}

.tabel{
    border: 5px solid rgb(254, 200, 238)
}