@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

* {
    font-family: 'Dosis', sans-serif;
    background-color: rgb(254, 200, 238);
}

#main-header {
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	transform: translate(-50%,-50%);
	width: 100%;
}

@keyframes text{
	0%{
		color: rgb(40, 40, 40);
		margin-bottom: -40px;
	}
	30%{
		color: rgb(232, 173, 214);
		letter-spacing: 30px;
		margin-bottom: -40px;
	}
	85%{
		color: white;
		letter-spacing: 8px;
		margin-bottom: -40px;
	}
}


.logo {
    text-align:center;
    color:  rgb(227, 94, 127);
    font-size: 800%;
	display: block;
	font-size: 150px;
	font-weight: 700;
	letter-spacing: 8px;
	background: rgb(254, 200, 238);
	position: relative;
	animation: text 2s 1;
}

#nav:after {
	content: "";
	clear: both;
}
#nav {
	display: none;
}

.valik {
    display: inline;
	float: left;
	width: 33.33%;
}

img {
   width : 100%
}