@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

* {
    font-family: 'Dosis', sans-serif;
    background-color: rgb(254, 200, 238);
}


.logo {
    text-align:center;
    color:  rgb(227, 94, 127);
    font-size: 800%;
}

.nav li {
    display: inline;
    float:left;
    width: 33.33%     
}

img {
   width : 100%
}